.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.item a.activeLink {
    color: gold;
}

.friendsWrapper {
    display: inline-block;
    padding: 10px;
    
}

.friendsPicture {
    width: 50px;
    border-radius: 25px;
}