.content {
    grid-area: c;
    background-color: cornflowerblue;
}

#picture__top {
width: 1200px;
}

.item {
    color: greenyellow;
}

.item img {
    width: 100px;
}

.descriptionBlock {
    padding: 10px;
}